<h1>Receitas</h1>
<p>Encontre a melhor receita para seu preparo!</p>

<ul>
    <% @recipes.each do |recipe| %>
        <li> 
            <%= link_to recipe.title, recipe %>
        </li>
    <% end %>
</ul>

<%= link_to "Nova receita", new_recipe_path %>